<!DOCTYPE HTML>
<html>
<head>
    <title>Taste of Japan - Front</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-full.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/jquery.customscrollbar.min.js"></script>
    <script type="text/javascript" src="js/jquery.pagescroll2id.js"></script>
    <script type="text/javascript" src="js/jquery.stickyfloat.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <link href="style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="js/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
</head>

<body class="page-front ">
    <div class="header">
        <div class="wrap">
            <a class="logo" title="My site" href="index.html">My site</a>

            <div id="menu">
                <ul class="level-0">
                    <li class="current"><a href="index.html" title="Home">Home</a></li>

                    <li><a href="menu.html" title="Menu">Menu</a></li>

                    <li class="has-submenu">
                        <a class="no-href" title="Recepies">Recepies</a>

                        <ul class="level-1">
                            <li><a href="menu/recipe1.html" title="Recipe1">Recipe1</a></li>

                            <li><a href="menu/recipe2.html" title="Recipe2">Recipe2</a></li>
                            
                            <li><a href="menu/recipe3.html" title="Recipe3">Recipe3</a></li>
                            
                            <li><a href="menu/recipe4.html" title="Recipe4">Recipe4</a></li>
                        </ul>
                    </li>

                    <li><a href="staff.html" title="The staff">The staff</a></li>

                    <li><a href="blog.html" title="Blog">Blog</a></li>

                    <li><a href="contact.html" title="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="page" class="content-page">
        <div id="content">
            <div class="wrap">
                <div class="content">
                    <div id="top-header-slider" class="section">
                        <div class="slide transition-1">
                            <img src="files/996x316/recipe1.png">

                            <div class="text">
                                <a href="menu/recipe1.html">Find more dishes!</a>
                            </div>
                        </div>

                        <div class="slide transition-1">
                            <div class="img"><img src="files/996x316/recipe2.png"></div>

                            <div class="text">
                                <a href="menu/recipe2.html">Find more dishes!</a>
                            </div>
                        </div>

                        <div class="slide transition-1">
                            <div class="img"><img src="files/996x316/recipe3.png"></div>

                            <div class="text">
                                <a href="menu/recipe3.html">Find more dishes!</a>
                            </div>
                        </div>

                        <div class="slide transition-1">
                            <div class="img"><img src="files/996x316/recipe4.png"></div>

                            <div class="text">
                                <a href="menu/recipe4.html">Find more dishes!</a>
                            </div>
                        </div>
                    </div>

                    <div id="front-featured" class="section">
                        <div class="article">
                            <div class="img"><img src="images/imageplaceholder1.png" alt="Taste of Japan"></div>

                            <div class="rest">
                                <hgroup class="hgroup">
                                    <h1>Taste of Japan</h1>

                                    <h2 class="subtitle">that you will remember<br></h2>
                                </hgroup>

                                <div class="text">
                                    <p>Donec nibh elit, condimentum sit amet euismod sit amet, consequat ut dolor. Quisque a quam quam, accumsan consectetur felis. Donec vitae sem nibh, eu dictum risus. Ut nisl erat, ornare vitae tempus accumsan, volutpat id velit. <a href="http://www.google.com/" title="Donec vitae augue ipsum" rel="nofollow" target="blank">vitae augue ipsum</a>, vel luctus magna.<br>
                                    <br></p>

                                    <p>Sed fermentum mi in nulla malesuada cursus at et nulla. Nulla vel commodo enim. Integer pharetra tincidunt ante ut lobortis. In hac habitasse platea dictumst. Etiam quis ipsum tortor.<br>
                                    <br></p>

                                    <p><i>Etiam quis ipsum tortor.</i><br></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tagline">
                        <p><br></p>

                        <p><br></p>

                        <p>Mixing chic and contemporary with a traditional Japanese menu,</p>

                        <p>Dozo Restaurant and Lounge bar will awake all your sences!.</p>
                    </div>

                    <div id="front-pages" class="section">
                        <div class="article">
                            <h2>Food & menu</h2>

                            <div class="img-container"><img src="images/imageplaceholder2.png" alt="01-japan-home.jpg"></div>

                            <div class="text">
                                <p>A restaurant with great service, quiet atmosphere, and fresh, <a href="#">excellent quality food!</a> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                            </div>

                            <div class="metadata">
                                <p class="text_left"><span class="circle">4</span> Comments</p>

                                <p class="text_right"><a href="menu.html"><span>+ Read more</span><br></a></p>
                            </div>
                        </div>

                        <div class="article">
                            <h2>Award Winning cuisine</h2>

                            <div class="img-container"><img src="images/imageplaceholder2.png"></div>

                            <div class="text">
                                <p>Morbi quam nunc, lobortis non feugiat sed, tincidunt vitae augue. Vestibulum pretium molestie est in feugiat.</p>

                                <p><a href="#">BEST RESTAURANTS IN AMERICA</a> Magellan Press</p>
                            </div>

                            <div class="metadata">
                                <p class="text_left"><span class="circle">4</span> Comments</p>

                                <p class="text_right"><a href="staff.html"><span>+ Read more</span><br></a></p>
                            </div>
                        </div>

                        <div class="article featured">
                            <h2>Reserve your seat</h2>

                            <div class="img-container"><img src="files/tempimg1.jpg"></div>

                            <div class="text">
                                <p>Reservations are accepted one month in advance and are recommended to be made atleast 1 week for weekdays, 2 weeks ahead for weekend reservations.</p><a class="button reserve" title="Register" href="contact.html">Make reservation</a>
                            </div>
                        </div>
                    </div>

                    <div id="front-events">
                        <div class="wrap">
                            <div class="text">
                                <h3><br></h3>

                                <h3>Upcoming special offer<br></h3>

                                <p></p>

                                <table style="width:997px;height:59px;">
                                    <thead>
                                        <tr>
                                            <td>1st May 2012</td>

                                            <td>8th May 2012</td>

                                            <td>16th May 2012<br></td>

                                            <td>01st June 2012</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>BBQ am Outdoorgrill und Smoker</td>

                                            <td>Spring special sushi roles<br></td>

                                            <td>Sesamie delicious desserts</td>

                                            <td>Soup + Menu = $10.00<br></td>
                                        </tr>
                                    </tbody>
                                </table><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <div class="chopsticks"></div>

            <div id="footer-content" class="section">
                <div class="article">
                    <h3>Visit our restaurant</h3>

                    <div class="text">
                        <img alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=palo%20alto&amp;zoom=12&amp;size=290x100&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C40.702147,-74.015794&amp;markers=color:green%7Clabel:G%7C40.711614,-74.012318&amp;markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&amp;sensor=false">

                        <p>Dozo Restaurant, 2446 Street Adress<br>
                        Santa Rosa, Ca 95404</p>
                    </div>
                </div>

                <div class="article">
                    <h3>Hours of operation</h3>

                    <div class="text">
                        <p>Mon-Thur 11:30 am - 9:30 pm</p>

                        <p>Friday 11:30 am - 10:00 pm</p>

                        <p>Saturday 12:00 pm - 10:00 pm</p>

                        <p><span class="lms-userclass-text-separator">Sunday Closed</span></p>

                        <p>All credit cards accepted.</p>
                    </div>
                </div>

                <div class="article">
                    <h3>Contact us</h3>

                    <div class="text">
                        <p>Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 123.456.789.0.</p>

                        <p>Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 123.456.789.0</p>

                        <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; info@restaurant.com</p>

                        <p><span class="lms-userclass-text-separator">www.name-of-restaurant.com&nbsp;</span></p>

                        <p><img class="socialicons" alt="images/facebook-icon.png" src="images/facebook-icon.png"> <img class="socialicons" alt="images/mail-icon.png" src="images/mail-icon.png"> <img class="socialicons" alt="images/twitter-icon.png" src="images/twitter-icon.png"> <img class="socialicons" alt="images/linkedin-icon.png" src="images/linkedin-icon.png"> <img class="socialicons" alt="images/rss-icon.png" src="images/rss-icon.png"><br></p>
                    </div>
                </div>

                <div class="copyright ">
                    <p><br></p>

                    <p><br></p>

                    <p><br></p>

                    <p>Copyright 2012. All rights reserved. Site Serviced by <a href="http://www.prospekt-solutions.com/" title="Prospekt Design" rel="nofollow" target="blank">Prospekt Design</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
