<!DOCTYPE HTML>

<html>
<head>
    <title>Taste of Japan - Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-full.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/jquery.customscrollbar.min.js"></script>
    <script type="text/javascript" src="js/jquery.pagescroll2id.js"></script>
    <script type="text/javascript" src="js/jquery.stickyfloat.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <link href="style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="js/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
</head>

<body class="page-menu ">
    <div class="header">
        <div class="wrap">
            <a class="logo" title="My site" href="index.html">My site</a>

            <div id="menu">
                <ul class="level-0">
                    <li><a href="index.html" title="Home">Home</a></li>

                    <li class="current"><a href="menu.html" title="Menu">Menu</a></li>

                    <li class="has-submenu">
                        <a class="no-href" title="Recepies">Recepies</a>

                        <ul class="level-1">
                            <li><a href="menu/recipe1.html" title="Recipe1">Recipe1</a></li>

                            <li><a href="menu/recipe2.html" title="Recipe2">Recipe2</a></li>
                            
                            <li><a href="menu/recipe3.html" title="Recipe3">Recipe3</a></li>
                            
                            <li><a href="menu/recipe4.html" title="Recipe4">Recipe4</a></li>
                        </ul>
                    </li>

                    <li><a href="staff.html" title="The staff">The staff</a></li>

                    <li><a href="blog.html" title="Blog">Blog</a></li>

                    <li><a href="contact.html" title="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="page" class="content-page">
        <div id="content">
            <div class="wrap">
                <div class="content">
                    <div id="top-header-img" class="section">
                        <div class="article">
                            <div class="img">
                                <img src="images/imageplaceholder4.png" alt="Header IMG"><br>
                            </div>

                            <div class="rest">
                                <div class="text">
                                    <p class="lms-userclass-text-big"><br></p>

                                    <p class="lms-userclass-text-big">12:00-16:00</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="position:relative;">
                        <div id="menu-list" class="section">
                            <div class="menu-cat section">
                                <div class="rope"></div>

                                <div class="img"><img src="images/imageplaceholder3.png" alt="Tofu with seafood"></div>

                                <h2 id="Chicken_specialityes">Chicken specialityes</h2>

                                <div class="rest">
                                    <div class="article" id="news-24">
                                        <div class="price">
                                            &#36;28.50
                                        </div>

                                        <h3><a href="menu/recipe1.html" title="Tofu with seafood">Tofu with seafood</a></h3>

                                        <div class="text">
                                            hotategai sakamushi, which was prepared<br>
                                            with fresh ingredients, ensures it's the finest taste!
                                        </div>
                                    </div>

                                    <div class="article" id="news-20">
                                        <div class="price">
                                            &#36;7.95
                                        </div>

                                        <h3><a href="menu/recipe2.html" title="Honey Walnut Chicken">Honey Walnut Chicken</a></h3>

                                        <div class="text">
                                            Chicken tempura, dried mushroom, vegetables, honey dressing with nuts
                                        </div>
                                    </div>

                                    <div class="article" id="news-19">
                                        <div class="price">
                                            &#36;10.95
                                        </div>

                                        <h3><a href="menu/recipe3.html" title="Sesame Chicken">Sesame Chicken</a></h3>

                                        <div class="text">
                                            <br>
                                            Chicken tempura served<br>
                                            on rice with sesame sauce
                                        </div>
                                    </div>

                                    <div class="article" id="news-16">
                                        <div class="price">
                                            &#36;12.50
                                        </div>

                                        <h3><a href="menu/recipe4.html" title="Chicken Teriyaki">Chicken Teriyaki</a></h3>

                                        <div class="text">
                                            <br>
                                            Broiled chicken with teriyaki sauce<br>
                                            Cras nec libero quam. Aliquam erat volutpat.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-cat section">
                                <div class="rope"></div>

                                <div class="img"><img src="images/imageplaceholder3.png" alt="Sakamushi"></div>

                                <h2 id="Donburi_and_Noodles">Donburi and Noodles</h2>

                                <div class="rest">
                                    <div class="article" id="news-22">
                                        <div class="price">
                                            &#36;7.50
                                        </div>

                                        <h3><a href="menu/recipe1.html" title="Sakamushi">Sakamushi</a></h3>

                                        <div class="text">
                                            <br>
                                            Shrimp tempura, dried mushroom,<br>
                                            fish cake, vegetables, egg, noodles in pot.
                                        </div>
                                    </div>

                                    <div class="article" id="news-21">
                                        <div class="price">
                                            &#36;6.95
                                        </div>

                                        <h3><a href="menu/recipe2.html" title="Red Snapper Carpaccio">Red Snapper Carpaccio</a></h3>

                                        <div class="text">
                                            Shrimp tempura served on rice with miso soup
                                        </div>
                                    </div>

                                    <div class="article" id="news-13">
                                        <div class="price">
                                            &#36;123.00
                                        </div>

                                        <h3><a href="menu/recipe3.html" title="some random dish">some random dish</a></h3>

                                        <div class="text">
                                            Aenean vel risus massa, sed vestibulum nulla.<br>
                                            Maecenas quis ipsum non ante vehicula eleifend ut nec massa.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-cat section">
                                <div class="rope"></div>

                                <div class="img"><img src="images/imageplaceholder3.png" alt="Tasty little bite"></div>

                                <h2 id="Starters">Starters</h2>

                                <div class="rest">
                                    <div class="article" id="news-35">
                                        <div class="price">
                                            &#36;123
                                        </div>

                                        <h3><a href="menu/recipe1.html" title="Tasty little bite">Tasty little bite</a></h3>

                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>
                                            tempor incididunt ut labore et dolore magna aliqua.
                                        </div>
                                    </div>

                                    <div class="article" id="news-27">
                                        <div class="price">
                                            &#36;9.50
                                        </div>

                                        <h3><a href="menu/recipe2.html" title="Traditional sushi">Traditional sushi</a></h3>

                                        <div class="text">
                                            This is traditional sushi, which was prepared from the animal, ensuring it's fresheset taste!
                                        </div>
                                    </div>

                                    <div class="article" id="news-26">
                                        <div class="price">
                                            &#36;9.50
                                        </div>

                                        <h3><a href="menu/recipe3.html" title="Chicken salad ">Chicken salad</a></h3>

                                        <div class="text">
                                            Diced chicken w/ vegetables, sautéed w/ peanuts, in a hot & spicy sauce
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="menu-cat section">
                                <div class="rope"></div>

                                <div class="img"><img src="images/imageplaceholder3.png" alt="Mushroom beef noodle"></div>

                                <h2 id="Sushi">Sushi</h2>

                                <div class="rest">
                                    <div class="article" id="news-23">
                                        <div class="price">
                                            &#36;9.50
                                        </div>

                                        <h3><a href="menu/recipe1.html" title="Mushroom beef noodle">Mushroom beef noodle</a></h3>

                                        <div class="text">
                                            Deep fried dyna roll with cream cheese and unagi sauce
                                        </div>
                                    </div>

                                    <div class="article" id="news-17">
                                        <div class="price">
                                            &#36;8.00
                                        </div>

                                        <h3><a href="menu/recipe2.html" title="SUPER SUSHI IN SPICY SAUCE">SUPER SUSHI IN SPICY SAUCE</a></h3>

                                        <div class="text">
                                            Prawn tempura, salmon, veggies, yam and spicy sauce
                                        </div>
                                    </div>

                                    <div class="article" id="news-15">
                                        <div class="price">
                                            &#36;20.00
                                        </div>

                                        <h3><a href="menu/recipe3.html" title="House sushi">House sushi</a></h3>

                                        <div class="text">
                                            Prawn tempura, spicy tuna, veggies, chopped scallops and smoked salmon
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="sidebar" class="aside">
                            <h3>Type of dishes we serve</h3>

                            <ul class="menu">
                                <li><a href="#Starters" rel="pageScroll2Id">Starters</a></li>

                                <li><a href="#Sushi" rel="pageScroll2Id">Sushi</a></li>

                                <li><a href="#Donburi_and_Noodles" rel="pageScroll2Id">Donburi and Noodles</a></li>

                                <li><a href="#Chicken_specialityes" rel="pageScroll2Id">Chicken specialityes</a></li>
                            </ul>

                            <h3>Beveriges to choose from</h3>

                            <ul class="menu">
                                <li><a href="#" rel="pageScroll2Id">Traditional selection</a></li>

                                <li><a href="#" rel="pageScroll2Id">Wine Card</a></li>

                                <li><a href="#" rel="pageScroll2Id">Tea selection</a></li>

                                <li><a href="#" rel="pageScroll2Id">Natural juices</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <div class="chopsticks"></div>

            <div id="footer-content" class="section">
                <div class="article">
                    <h3>Visit our restaurant</h3>

                    <div class="text">
                        <img alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=palo%20alto&amp;zoom=12&amp;size=290x100&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C40.702147,-74.015794&amp;markers=color:green%7Clabel:G%7C40.711614,-74.012318&amp;markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&amp;sensor=false">

                        <p>Dozo Restaurant, 2446 Street Adress<br>
                        Santa Rosa, Ca 95404</p>
                    </div>
                </div>

                <div class="article">
                    <h3>Hours of operation</h3>

                    <div class="text">
                        <p>Mon-Thur 11:30 am - 9:30 pm</p>

                        <p>Friday 11:30 am - 10:00 pm</p>

                        <p>Saturday 12:00 pm - 10:00 pm</p>

                        <p><span class="lms-userclass-text-separator">Sunday Closed</span></p>

                        <p>All credit cards accepted.</p>
                    </div>
                </div>

                <div class="article">
                    <h3>Contact us</h3>

                    <div class="text">
                        <p>Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 123.456.789.0.</p>

                        <p>Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 123.456.789.0</p>

                        <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; info@restaurant.com</p>

                        <p><span class="lms-userclass-text-separator">www.name-of-restaurant.com&nbsp;</span></p>

                        <p><img class="socialicons" alt="images/facebook-icon.png" src="images/facebook-icon.png"> <img class="socialicons" alt="images/mail-icon.png" src="images/mail-icon.png"> <img class="socialicons" alt="images/twitter-icon.png" src="images/twitter-icon.png"> <img class="socialicons" alt="images/linkedin-icon.png" src="images/linkedin-icon.png"> <img class="socialicons" alt="images/rss-icon.png" src="images/rss-icon.png"><br></p>
                    </div>
                </div>

                <div class="copyright ">
                    <p><br></p>

                    <p><br></p>

                    <p><br></p>

                    <p>Copyright 2012. All rights reserved. Site Serviced by <a href="http://www.prospekt-solutions.com/" title="Prospekt Design" rel="nofollow" target="blank">Prospekt Design</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
