<!DOCTYPE HTML>

<html>
<head>
    <title>My site - Taste of Japan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="../js/jquery-1.7.min.js">
</script>
    <script type="text/javascript" src="../js/jquery-ui-full.min.js">
</script>
    <script type="text/javascript" src="../js/jquery.mousewheel.min.js">
</script>
    <script type="text/javascript" src="../js/jquery.customscrollbar.min.js">
</script>
    <script type="text/javascript" src="../js/jquery.pagescroll2id.js">
</script>
    <script type="text/javascript" src="../js/jquery.stickyfloat.js">
</script>
    <script type="text/javascript" src="../js/scripts.js">
</script>
    <link href="../style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../js/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
</head>

<body class="page-menu-donburi-and-noodles-sakamushi gallery">
    <header class="header">
        <div class="wrap">
            <a class="logo" title="My site" href="../index.html">My site</a>

            <nav id="menu">
                <ul class="level-0">
                    <li><a href="../index.html" title="Home">Home</a></li>

                    <li><a href="../menu.html" title="Menu">Menu</a></li>

                    <li class="has-submenu">
                        <a class="no-href" title="Recepies">Recepies</a>

                        <ul class="level-1">
                            <li><a href="recipe1.html" title="Recipe1">Recipe1</a></li>

                            <li><a href="recipe2.html" title="Recipe2">Recipe2</a></li>
                            
                            <li><a href="recipe3.html" title="Recipe3">Recipe3</a></li>
                            
                            <li><a href="recipe4.html" title="Recipe4">Recipe4</a></li>
                        </ul>
                    </li>

                    <li><a href="../staff.html" title="The staff">The staff</a></li>

                    <li><a href="../blog.html" title="Blog">Blog</a></li>

                    <li><a href="../contact.html" title="Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="page" class="content-page">
        <div id="content">
            <div class="wrap">
                <div class="content">
                    <section id="slide-preview-contentarea">
                        <div id="images-collection"><img class="transition-1" src="../files/996x468/recipe1.png"> <img class="transition-1" src="../files/996x468/recipe2.png"> <img class="transition-1" src="../files/996x468/recipe3.png"> <img class="transition-1" src="../files/996x468/recipe4.png"> <img class="transition-1" src="../files/996x468/recipe5.png"></div>

                        <div class="rest">
                            <h1>Sakamushi</h1>

                            <div class="text">
                                <br>
                                Shrimp tempura, dried mushroom,<br>
                                fish cake, vegetables, egg, noodles in pot.
                            </div>
                        </div>
                    </section>

                    <section id="gallery" class="section">
                        <div class="s-arrow s-left"></div>

                        <div class="s-center">
                            <h2>Gallery ( 5 images )</h2>

                            <div class="filmstrip"><img src="../files/241x167/recipe1.png"> <img src="../files/241x167/recipe2.png"> <img src="../files/241x167/recipe3.png"> <img src="../files/241x167/recipe4.png"> <img src="../files/241x167/recipe5.png"></div>
                        </div>

                        <div class="s-arrow s-right"></div>
                    </section>

                    <section id="recipe-block" class="section">
                        <article class="article">
                            <div class="img">
                                <img src="../files/tempimg4.png" alt="reciepe.png"><br>
                            </div>

                            <div class="recipe">
                                <h2>How to make sushi</h2>

                                <div class="text">
                                    <p><br></p>

                                    <p>Aliquam diam nibh, laoreet porttitor aliquam ut, dignissim eget purus. Suspendisse molestie augue ut nisi sodales feugiat.<br></p>

                                    <p><br></p>

                                    <p><span style="font-weight:bold;">Pellentesque ac dapibus lorem</span>.<br></p>

                                    <p><br></p>

                                    <p>Vivamus gravida, neque ut congue tempor, ante justo ultrices massa, non fermentum purus ipsum sit amet sem.<br></p>
                                </div>
                            </div>
                        </article>
                    </section>

                    <div id="front-events">
                        <div class="wrap">
                            <div class="text">
                                <h3><br></h3>

                                <h3>Upcoming special offer<br></h3>

                                <p></p>

                                <table style="width:997px;height:59px;">
                                    <thead>
                                        <tr>
                                            <td>1st May 2012</td>

                                            <td>8th May 2012</td>

                                            <td>16th May 2012<br></td>

                                            <td>01st June 2012</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>BBQ am Outdoorgrill und Smoker</td>

                                            <td>Spring special sushi roles<br></td>

                                            <td>Sesamie delicious desserts</td>

                                            <td>Soup + Menu = $10.00<br></td>
                                        </tr>
                                    </tbody>
                                </table><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="wrap">
            <div class="chopsticks"></div>

            <section id="footer-content" class="section">
                <article class="article">
                    <h3>Visit our restaurant</h3>

                    <div class="text">
                        <img alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=palo%20alto&amp;zoom=12&amp;size=290x100&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C40.702147,-74.015794&amp;markers=color:green%7Clabel:G%7C40.711614,-74.012318&amp;markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&amp;sensor=false">

                        <p>Dozo Restaurant, 2446 Street Adress<br>
                        Santa Rosa, Ca 95404</p>
                    </div>
                </article>

                <article class="article">
                    <h3>Hours of operation</h3>

                    <div class="text">
                        <p>Mon-Thur 11:30 am - 9:30 pm</p>

                        <p>Friday 11:30 am - 10:00 pm</p>

                        <p>Saturday 12:00 pm - 10:00 pm</p>

                        <p><span class="lms-userclass-text-separator">Sunday Closed</span></p>

                        <p>All credit cards accepted.</p>
                    </div>
                </article>

                <article class="article">
                    <h3>Contact us</h3>

                    <div class="text">
                        <p>Phone: 123.456.789.0.</p>

                        <p>Fax: 123.456.789.0</p>

                        <p>Email: info@restaurant.com</p>

                        <p><span class="lms-userclass-text-separator">www.name-of-restaurant.com</span></p>

                        <p><img class="socialicons" alt="facebook-icon.png" src="../images/facebook-icon.png"> <img class="socialicons" alt="mail-icon.png" src="../images/mail-icon.png"> <img class="socialicons" alt="twitter-icon.png" src="../images/twitter-icon.png"> <img class="socialicons" alt="linkedin-icon.png" src="../images/linkedin-icon.png"> <img class="socialicons" alt="rss-icon.png" src="../images/rss-icon.png"><br></p>
                    </div>
                </article>

                <div class="copyright ">
                    <p><br></p>

                    <p><br></p>

                    <p><br></p>

                    <p>Copyright 2012. All rights reserved. Site Serviced by <a href="http://www.prospekt-solutions.com/" title="Prospekt Design" rel="nofollow" target="blank">Prospekt Design</a></p>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>
